<div class="span4">
  <h3 class="full-name hide">
    <input type="text" class="input-block-level no-border" ng-model="relationship.name" placeholder="Name" />
  </h3>

  <div class="note" style="position: relative;">
    <div class="created muted">Summary</div>
    <textarea ng-model="relationship.summary_note" class="input-block-level no-border"></textarea>
  </div>
  <button class="btn btn-danger" ng-click="remove()" style="opacity: .1">Delete relationship</button>
</div>
<div class="span8">
  <div class="notes">
     <form ng-submit="addNote()" class="note">
      <textarea class="input-block-level" ng-model="noteContent" autofocus></textarea>
      <div>
        <button class="btn btn-primary" type="submit">Add</button>
      </div>
    </form>
    <div class="note" ng-repeat="note in relationship.notes | orderBy:'created':true">
      <div class="created muted">{{note.created}}</div>
      <textarea ng-model="note.content"></textarea>
    </div>
  </div>
</div>