<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				<span style="visibility: hidden;">Status</span>
			</th>
			<th ng-click="testSort()">
				<span style2="visibility: hidden;">Name</span>
			</th>
			<th>
				Last attendance
			</th>
			<th>
				Last conversation
			</th>
			<th>
				<span style2="visibility: hidden;">Last note</span>
			</th>
		</tr>
	</thead>
	<tbody class="people">
		<tr ng-repeat="relationship in relationships | filter:relationshipQuery | orderBy:predicate:reverse" ng-click="go(relationship)">
			<td style="width: 1px;">
				<div ng-click="toggleStatus(relationship)" class="btn-success" style="display: inline-block;width: 20px;height: 100%;"></div>
			</td>
			<td class="lead" style="white-space: nowrap;">{{relationship.name}}</td>
			<td>Monday, 2:11pm</td>
			<td>Yesterday, 3:35pm</td>
			<td>LM <span class="muted small">Two hours ago</span></td>
		</tr>
	</tbody>
</table>

<form class="input-append" ng-submit="add()">
	<input type="text" ng-model="newRelationshipName" placeholder="Name" />
	<button class="btn" type="submit">Add relationship</button>
</form>